{% load static %}
<html>
<head>
	<title>Task Scheduler</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<!-- Custom CSS -->
    {% load static %}
	<link href="{{ STATIC_URL}}css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="bg-secondary bg-secondary bg-gradient text-white p-5">
		<div class="container">
		<h1>Task Scheduler</h1>
		<form method="POST" action="{% url 'add_task' %}">
			{% csrf_token %}
			<div class="form-group">
				<label for="task">Task:</label>
				<input type="text" class="form-control" id="task" placeholder="Enter task name" name="task">
			</div>
			<div class="form-group">
				<label for="task_description">Task Description:</label>
				<input type="text" class="form-control" id="task_description" placeholder="Enter task description" name="task_description">
			</div>
			<div class="form-group">
				<label for="task_owner">Task Owner:</label>
				<input type="text" class="form-control" id="task_owner" placeholder="Enter task owner" name="task_owner">
			</div>
			<div class="form-group">
				<label for="status">Status:</label>
				<select class="form-control" id="status" name="status">
					<option value="todo">To Do</option>
					<option value="inprogress">In Progress</option>
					<option value="done">Done</option>
				</select>
			</div>
			<div class="form-group">
				<label for="due_date">Due Date:</label>
				<input type="date" class="form-control" id="due_date" name="due_date">
			</div>
			<div class="form-group">
				<label for="time">Time:</label>
				<input type="time" class="form-control" id="time" name="time">
			</div>
			<button type="submit" class="btn btn-primary">Add Task</button>
		</form>

	</div>
	</div>
	<!-- Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<!-- Custom JS -->
	<script src="{% static 'script.js' %}"></script>
</body>
</html>
