    {% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Client Document Management</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href= "{% static 'assets/css/Pretty-Registration-Form-.css' %}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary text-uppercase" id="mainNav">
        <div class="container"><a class="navbar-brand" href="#page-top">Solar EPC SYSTEM</a><button class="navbar-toggler text-white bg-primary navbar-toggler-right text-uppercase rounded" data-bs-toggle="collapse" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" data-bs-target="#navbarResponsive"><i class="fa fa-bars"></i></button></div>
    </nav>
    <section class="py-6 py-xl-7">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                    <div class="card mb-5">
                        <div class="card-body p-sm-5">
                            <h4 class="text-center mb-4">Client document Management</h4>
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="name-2">Name:</label>
                                    <input class="form-control" type="text" id="name-2" name="name" placeholder="Name">
                                </div>
                                <div class="mb-3">
                                    <label for="client_id">Client ID:</label>
                                    <input id="client_id" class="form-control" type="text" name="client_id" placeholder="Client ID">
                                </div>
                                <div class="mb-3">
                                    <label for="document_type">Document Type:</label>
                                    <input id="document_type" class="form-control" type="text" name="document_type" placeholder="Document Type">
                                </div>
                                <div class="mb-3">
                                    <label for="document_description">Document Description:</label>
                                    <textarea id="document_description" class="form-control" name="document_description" rows="6" placeholder="Document Description"></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="document">Select Document:</label>
                                    <input type="file" class="form-control" id="document" name="document">
                                </div>
                                <button class="btn btn-secondary d-block w-100" type="submit">Upload Document</button>
                            </form>
                        </div>
                </div>
            </div>
        </div>
    </section>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>