{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>schedular shift page</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href= "{% static 'assets/css/Pretty-Registration-Form-.css' %}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary text-uppercase" id="mainNav">
        <div class="container"><a class="navbar-brand" href="#page-top">Solar EPC SYSTEM</a>
            <button class="navbar-toggler text-white bg-primary navbar-toggler-right text-uppercase rounded" data-bs-toggle="collapse" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" data-bs-target="#navbarResponsive"><i class="fa fa-bars"></i></button></div>
    </nav>
    <header class="text-center text-black masthead pb-0">
        <h3 style="border-bottom-style: none;">Invoice Tracking</h3>
    </header>
    <div class="row register-form mt-6">
        <div class="col-md-8 offset-md-2">
            <form method="POST" action="{% url 'add_invoice' %}"  class="custom-form">
                {% csrf_token %}
                <div class="row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Customer Name</label></div>
                    <div class="col-sm-6 input-column"><input class="form-control" type="text" name="customer_name"></div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="email-input-field">invoice number &nbsp;</label></div>
                    <div class="col-sm-6 input-column"><input class="form-control" type="text"  name="invoice_number"></div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="pawssword-input-field">details</label></div>
                    <div class="col-sm-6 input-column"><input class="form-control" type="text" name="details"></div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="repeat-pawssword-input-field">item purchased</label></div>
                    <div class="col-sm-6 input-column"><input class="form-control" type="text" name="item_purchased"></div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="dropdown-input-field">Invoice Date </label></div>
                    <div class="col"><input class="form-control" type="date" name="invoice_date"></div>
                </div><button class="btn btn-secondary" type="submit">Submit&nbsp;</button>
            </form>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>